<div class="app-name">
  <img class="app-name__logo" src="assets/images/logo.png" />
  <div class="app-name__title">Аналитика</div>
</div>

<section class="login">
  <form class="login__form" [formGroup]="this.form">

    <div class="login__field">
      <input formControlName="username" placeholder="логин" />
    </div>

    <div class="login__field">
      <input type="password" [formControl]="this.form.get('password')" placeholder="пароль"  />
    </div>



    <button type="button" class="button" (click)="login()">Войти</button>
  </form>
</section>
