<div class="container tile--selected">

  <div class="container__item chart-container">
    <h2>{{this.activityTypeLabel}}</h2>
    <div id="analiticsInfoChartDiv"></div>
  </div>

  <div class="container__item">
    <h2>KPI по {{this.activityTypeLabel}}</h2>

    <section class="indicator">
      <h3>Исполнение нац. проекта</h3>
      <div class="indicator__value">
        <span>30%</span>
        <div class="progress">
          <div class="progress__bar-1"></div>
          <div class="progress__bar-2"></div>
        </div>
      </div>
    </section>

    <section class="indicator">
      <h3>Соблюдение коэффициента</h3>
      <div class="indicator__value">
        TODO
      </div>
    </section>

  </div>

</div>
