.page {
  color: #ffffff;
  background-color: #1e2f39;
}

.workspace {
  box-sizing: border-box;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.workspace__column1 {
  width: 20%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.workspace__column2 {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.workspace__column3 {

  width: 30%;
  height: 100%;
  background-color: #233947;

  display: flex;
  flex-direction: column;
}

// #region tab
.tile-tab {
  cursor: pointer;
}

// #endregion


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #00142b;
  margin: 0px 6px 6px 0;
}

.widget {
  box-sizing: border-box;
  padding-top: 0;
}


::ng-deep .widget__block {
  margin: 0px 6px 6px 0;

  &--black {
    background-color: #233541;
  }

  &--light {
    background-color: #233543;
  }
}

.block-title {
  text-transform: uppercase;
  font-weight: normal;
}

.workspace__column1 .widget {
  box-sizing: border-box;
  height: calc((100vh - 62px) / 3);
  background-color: #233947;
  margin: 0px 6px 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}

.workspace__column1 .widget--selected {
  background-color: #19272f;
}

.widget__title {
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;

  margin: 0 20px 0 20px;

  &--black {
    background-color: #233541;
    padding: 20px;
  }

  &--light {
    background-color: #233543;
    padding: 20px;
  }

}



.workspace__column1 .widget-clients {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-clients .widget__title {
  box-sizing: border-box;
  margin: 0 0 20px 0;
}

.widget__title-clients {
  font-size: 40px;
}

.line-bar {
  box-sizing: border-box;
  position: relative;
  display: flex;

  margin: 0 60px;
}

.line-bar__value {
  box-sizing: border-box;
  height: 10px;
  margin-right: 2px;
}

.line-bar__value1 {
  width: 20%;
  background-color: #4eb092;
}

.line-bar__value2 {
  width: 30%;
  background-color: #36a7b6;
}

.line-bar__value3 {
  width: 50%;
  background-color: #3f92c2;
}



.widget__chart {
  flex-grow: 1;
}

.widget-analytics__buttons {
  display: flex;
  justify-content: space-around;
}


.workspace__column2 .widget {
  box-sizing: border-box;
  height: calc(100vh / 2);
  margin: 0px 6px 6px 0;
  border-bottom: 2px solid #233947;
  overflow-y: auto;
}


.widget-export__chart {
  position: relative;
  height: 250px;
}



.workspace__column3 .widget {
  height: 100%;
}
