<!-- <router-outlet></router-outlet>
<div style="border:solid 1px red">
  <router-outlet name="right-tile-outlet"></router-outlet>
</div> -->

<div class="page">
  <div class="workspace">
    <div class="workspace__column1">
      <section class="logo">
        <a><img src="assets/images/logo.png"/></a>
      </section>

      <section
        class="widget widget-clients tile-tab"
        [ngClass]="{
          'tile--selected': this.currentTab === 'client'
        }"
        (click)="toggle('client')"
      >
        <h2 class="widget__title widget__title-clients">36</h2>
        <h2 class="widget__title">Клиенты</h2>
        <div class="line-bar">
          <div class="line-bar__value line-bar__value1"></div>
          <div class="line-bar__value line-bar__value2"></div>
          <div class="line-bar__value line-bar__value3"></div>
        </div>
      </section>

      <section
        class="widget widget-analytics"
        [ngClass]="{
          'tile--selected': this.currentTab === 'apk' || this.currentTab === 'prom'
        }"
      >
        <h2 class="widget__title">Аналитика</h2>
        <div class="widget__chart">
          <app-bar-chart></app-bar-chart>
        </div>
        <div class="widget-analytics__buttons">
          <a href="javascript:void(0)" (click)="toggle('apk')">Апк</a>
          <a href="javascript:void(0)" (click)="toggle('prom')">Пром</a>
        </div>
      </section>

      <section class="widget widget-kpi">
        <h2 class="widget__title">KPI</h2>
        <div class="widget__chart">
          <app-pie-chart></app-pie-chart>
        </div>
      </section>
    </div>
    <div class="workspace__column2">
      <!-- <section class="widget widget-export" *ngIf="!currentTab">
        <div class="widget-export__title">
          <div class="export-title__title">
            <h2
              class="export-title__title-info widget__block--light block-title"
            >
              Объемы экспорта
            </h2>
            <p class="export-title__title-date">{{ currentDate | date }}</p>
          </div>
          <div class="export-title__legend">
            <ul class="legend-list widget__block--light">
              <li class="legend-list__item">
                <span class="legend-list__export-type">Пром</span> <br />
                экспорт
              </li>
              <li class="legend-list__item">
                <span class="legend-list__export-type">Апк</span> <br />
                экспорт
              </li>
            </ul>
          </div>
        </div>
        <div class="widget-export__chart">
          <app-chart></app-chart>
        </div>
      </section>

      <section class="widget widget-export" *ngIf="currentTab === 'client'">
        <app-clients></app-clients>
      </section> -->

      <section class="widget" [@routeTopTileAnimation]="prepareRoute(topTileOutlet)">
        <router-outlet name="top-tile-outlet" #topTileOutlet="outlet"></router-outlet>
      </section>

      <section class="widget" [@routeBottomTileAnimation]="prepareRoute(bottomTileOutlet)">
        <router-outlet name="bottom-tile-outlet" #bottomTileOutlet="outlet"></router-outlet>
      </section>
    </div>
    <div class="workspace__column3">
      <section class="widget" [@routeRightTileAnimation]="prepareRoute(rightTileOutlet)">
        <router-outlet name="right-tile-outlet" #rightTileOutlet="outlet"></router-outlet>
      </section>

      <!-- <section class="widget widget-contracts">
        <h2 class="widget__title widget__title--black">Экспортные контракты</h2>
        <div class="widget-contracts__info contracts-info">
          <div class="contracts-info__item">
            <h2 class="contracts-info__value">6</h2>
            <p class="contracts-info__description">Контракты</p>
          </div>
          <div class="contracts-info__item">
            <h2 class="contracts-info__value">46 млн $</h2>
            <p class="contracts-info__description">Общая сумма</p>
          </div>
        </div>
      </section>

      <section class="widget widget-map">
        <div class="widget__chart">
          <app-map-chart></app-map-chart>
        </div>
      </section>

      <section class="widget widget-contracts-2">
        <h2 class="widget__title widget__title--black">Контракты</h2>
        <div class="line-bar"></div>
      </section> -->
    </div>
  </div>
</div>
