<div class="container">
  <section class="widget widget-contracts">
    <h2 class="widget__title widget__title--black">Экспортные контракты</h2>
    <div class="widget-contracts__info contracts-info">
      <div class="contracts-info__item">
        <h2 class="contracts-info__value">6</h2>
        <p class="contracts-info__description">Контракты</p>
      </div>
      <div class="contracts-info__item">
        <h2 class="contracts-info__value">46 млн $</h2>
        <p class="contracts-info__description">Общая сумма</p>
      </div>
    </div>
  </section>

  <section class="widget widget-map">
    <div class="widget__chart">
      <app-map-chart></app-map-chart>
    </div>
  </section>

  <section class="widget widget-contracts-2">
    <h2 class="widget__title widget__title--black">Контракты и соглашения</h2>
    <div class="line-bar"></div>
  </section>
</div>
