<div class="container tile--selected">
  <div class="container__item">
    <h2 class="widget__title widget__title--black">Экспортные результаты</h2>

    <div class="widget__chart">
      <!-- <app-map-chart></app-map-chart> -->
      <div class="chart-container" #chartContainer></div>
    </div>
  </div>

  <div class="container__item">
    <ul>
      <li>Страна - Сумма</li>
      <li>Страна - Сумма</li>
      <li>Страна - Сумма</li>
      <li>Страна - Сумма</li>
      <li>Страна - Сумма</li>
    </ul>
    <div class="line-bar"></div>
  </div>
</div>
